@font-face {
  font-family: 'Circe';
  src: url('./media/fonts/Forum-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  padding: 0;
  margin: 0;
  font-family: Circe;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

@media (min-width: 575.98px) {
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 767.98px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1199.98px) {
  .container {
    max-width: 1300px;
  }
}


/* HEADER */

.header {
  padding: 50px 0;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
}

.header-list {
  display: flex;
}

.header-list li {
  margin-right: 30px;
}

.header-list li a {
  letter-spacing: 0.2em;
  font-size: 15px;
  color: black;
}

.icon {
  margin-right: 30px;
}

/* BASKET */

.basket-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 25px;
}

/* MAIN */

/* NAV */

.menu-nav {
  text-align: center;
  margin-bottom: 25px;
}

.menu-nav ul li {
  display: inline-block;
  margin: 0 12px;
}

/* ROUTE */



/* PRODUCT */

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product {
  border: 1px solid black;
  border-radius: 10px;
  width: 250px;
  height: 300px;
}


/* FOOTER */

.footer {
  text-align: center;
}

.footer p {
  font-size: 17px;
  line-height: 1.7;
  letter-spacing: 0em;
}